<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href='https://unpkg.com/@atlaskit/reduced-ui-pack@8.7.3/dist/bundle.css' />
  <link rel="stylesheet" href='https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css' />
  <script src='https://dev-lib.stride.com/javascript/simple-xdm.js'></script>
</head>
<body>
  {{{body}}}
</body>
</html>