<h1>{{title}}</h1>
<p>{{content}}</p>
<a href="{{link}}" target="_blank">{{linkText}}</a>

<h2>Mentioning the App</h2>
<p>When you @mention the app the title above and the glance icon to the rights will increment by 1</p>

